:root {
  --moderate-blue: hsl(238, 40%, 52%);
  --moderate-blue-hover: hsl(238, 40%, 60%);
  --soft-red: hsl(358, 79%, 66%);
  --light-grayish-blue: hsl(239, 57%, 85%);
  --pale-red: hsl(357, 100%, 86%);
  --dark-blue: hsl(212, 24%, 26%);
  --grayish-blue: hsl(211, 10%, 45%);
  --light-gray: hsl(223, 19%, 93%);
  --very-light-gray: hsl(228, 33%, 97%);
  --white: hsl(0, 0%, 100%);
}

body {
  margin: 0;
  padding: 20px;
  font-family: "Rubik", sans-serif;
  background: var(--very-light-gray);
}

* {
  box-sizing: border-box;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.replies {
  display: flex;
  flex-direction: column;
  border-left: 3px solid var(--light-gray);
  background-color: var(--very-light-gray);
  padding-left: 45px;
  margin-top: 20px;
  margin-left: 50px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
